<!-- <button (click)="OnToggleSpinner()">Toggle Spinner</button>

<app-spinner *ngIf="showSpinner"></app-spinner>

<button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)">Subir imagenes al servidor</button>

<button (click)="onSuccess()">Mensaje de Exito</button>
<button (click)="onError()">Mensaje de Error</button> -->


<mat-sidenav-container>
  <mat-sidenav #menu>
    <p>Elemento Sidenav</p>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="menu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Edificaciones Store</span>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
